@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    header {
        background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(src/banner.png);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5vh 8vw;
        img {
            width: 15%;
            height: 30%;
        }
        ul {
            display: flex;
            list-style: none;
            text-transform: uppercase;
            color: white;
            li {
                margin-right: 25px;
            }
            li:nth-child(5) {
                margin-right: 0px;
            }
        }
    }

}